<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ventaComida</property>
        <property name="hibernate.connection.username">postgres</property> 
                
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="show_sql">true</property>		
		<mapping resource="co/edu/usbcali/modelo/Pedido.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Principio.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Parametros.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Proteina.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Sopa.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Usuario.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Hijo.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Bebida.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Padre.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Almuerzo.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Pago.hbm.xml" />
		
		<!-- archivos sql -->
		<mapping resource="co/edu/usbcali/modelo/Secuencias.hbm.xml" />
		<mapping resource="co/edu/usbcali/modelo/Consultas.hbm.xml" />
	</session-factory>
</hibernate-configuration>
